<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <connectionStrings>
    <add name="ChatDb" connectionString="Server=7e69edde-48a9-4fe4-b7a6-a21b008c9d0d.sqlserver.sequelizer.com;Database=db7e69edde48a94fe4b7a6a21b008c9d0d;User ID=bmlizbfztunadtwp;Password=yrAeMpVGaTTuwYt7hMtE678cbrBfspeixVPf7hGWQ3tksZG6CF2CBvPzsycuVQpT;" providerName="System.Data.SqlClient" />
    <!--<add name="ChatDb" connectionString="Data Source=.;Initial Catalog=ChatDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>